// Imports
@import url("https://fonts.googleapis.com/css2?family=Alegreya&family=Caveat&family=Gwendolyn:wght@700&family=Kalam:wght@300&family=Mountains+of+Christmas:wght@700&display=swap");
@import "calendar.scss";
@import "carousel.scss";
@import "christmascard.scss";
@import "modals.scss";
@import "mousescroll.scss";
@import "musiccontainer.scss";
@import "snowflakes.scss";

// General
body {
  overflow-x: hidden;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-family: "Kalam", cursive;
  // font-family: "Gwendolyn", cursive;
  // font-family: "Mountains of Christmas", cursive;
}

h1 {
  @media screen and (min-width: 1200px) {
    font-size: 4em !important;
  }
}
h2 {
  width: 90%;
  font-size: 1.2rem;
  @media screen and (min-width: 1200px) {
    font-size: 3.5em !important;
  }
  @media (min-width: 600px) {
    font-size: 1.3rem;
  }
}
h1,
h2 {
  color: white;
  text-align: center;
}

.App {
  width: 100vw;
}

// Cover
.cover-wrapper {
  position: relative;
  .cover-img {
    max-height: 100vh;
  }

  .text-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    .cover-text-one {
      width: 50%;
      color: black;
      text-align: center;
    }
  }
}

// Christmas Card
.card-section {
  padding-top: 50px;
  background-color: #fbf3e7;

  > h1 {
    color: black;
  }

  .card-wrap {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
  }
}

// Recipes Space
.first-content {
  width: 100%;
  background-color: #a41b2b;
  padding-top: 100px;
  padding-bottom: 100px;

  h2 {
    width: 90%;
    margin: 15px auto;
  }

  // Cards

  .card-rows {
    margin: 50px auto 50px auto !important;
    width: 100%;
    @media (min-width: 800px) {
      padding: 0 50px;
    }
    > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .card {
      height: 100%;
      width: 100%;
      font-family: "Alegreya", serif;
      font-size: 18px;
      // width: min-content;
      border: 2px solid #d9b271 !important;
      img {
        height: 200px;
        width: 100%;
        object-fit: cover;
        @media (min-width: 500px) {
          // height: 300px;
        }
      }
    }
  }

  .card-title {
    font-size: 1rem !important;
  }

  .card-text {
    font-family: "Alegreya", serif;
    font-size: 15px;
  }
  .card-img,
  .card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .button-wrapper {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    font-size: 0.8rem;
  }
  .btn-primary {
    background-color: #1e2a19 !important;
    border-color: #1e2a19 !important;
    // font-weight: 600;
    &:hover,
    &:focus,
    &:active {
      background-color: #d9b271 !important;
      border: 1px solid #d9b271 !important;
      box-shadow: 1px 2px 10px black !important;

      color: #1e2a19;
    }
  }
}

// Inspiration
.second-content {
  background-color: #7c9489;
  padding-top: 100px;
  padding-bottom: 100px;
  h1,
  h2 {
    color: white;
    text-align: center;
  }
  h2 {
    width: 80%;
    margin: auto;
    font-size: 1.2rem;
  }
}

// Footer
.footer {
  width: 100%;
  min-height: 50px;
  flex-flow: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  background-color: #a41b2b;
  p {
    padding: 5px auto;
    height: 100%;
    margin: 0;
    color: white;
    font-size: 0.8rem;
  }
  a,
  a:focus,
  a:active {
    color: white;
    text-decoration: none;
  }
}
