// Calendar
.cal-section {
  padding: 100px 50px;
  background-color: #d1d5db;
  text-align: center;
  color: #24282e;
  > h1,
  > h2 {
    color: black;
  }
  .cal-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px auto 0 auto;
    > div {
      width: auto;
    }
  }
}

.circle {
  // border: 1px solid red;
  border-radius: 100%;
  height: 200px;
  width: 200px;
  perspective: 1000px;
  background-color: transparent;
  margin-bottom: 10px;

  @media (min-width: 600px) {
    height: 250px;
    width: 250px;
    margin: 10px;
  }

  &:hover .circle-inner {
    transform: rotateY(180deg);
  }

  .circle-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 100%;
  }

  .circle-front,
  .circle-back {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    p {
      padding: 30px;
      font-size: 0.9rem;
    }
  }

  .circle-front,
  .circle-back {
    &.circle {
      &_1 {
        background-color: #e8e5c2;
        h1,
        p {
          color: black;
        }
      }
      &_2 {
        background-color: #98a1ae;
        h1,
        p {
          color: black;
        }
      }
      &_3 {
        background-color: #781822;
        color: white;
      }
      &_4 {
        background-color: #f8f8a0;
        h1,
        p {
          color: black;
        }
      }
      &_5 {
        background-color: #c06b5d;
        color: white;
      }
      &_6 {
        background-color: #1e2a19;
        color: white;
      }
      &_7 {
        background-color: #dd6555;
        color: white;
      }
      &_8 {
        background-color: #f6f68d;
        h1,
        p {
          color: black;
        }
      }
      &_9 {
        background-color: #4c0f05;
        color: white;
      }
      &_10 {
        background-color: #1a9e65;
        color: white;
      }
      &_11 {
        background-color: #e8e5c2;
        h1,
        p {
          color: black;
        }
      }
      &_12 {
        background-color: #eb99a1;
        h1 {
          color: black;
        }
      }
      &_13 {
        background-color: #afcca4;
        h1,
        p {
          color: black;
        }
      }
      &_14 {
        background-color: #e8e5c2;
        h1,
        p {
          color: black;
        }
      }
      &_15 {
        background-color: #a15953;
        color: white;
      }
      &_16 {
        background-color: #a7210c;
        color: white;
      }
      &_17 {
        background-color: #415f35;

        color: white;
      }
      &_18 {
        background-color: #eb99a1;
        h1,
        p {
          color: black;
        }
      }
      &_19 {
        background-color: #afcca4;
        h1,
        p {
          color: black;
        }
      }
      &_20 {
        background-color: #e8e5c2;
        h1,
        p {
          color: black;
        }
      }
      &_21 {
        background-color: #a15953;
        color: white;
      }
      &_22 {
        background-color: #a7210c;
        color: white;
      }
      &_23 {
        background-color: #e8e5c2;
        h1,
        p {
          color: black;
        }
      }
      &_24 {
        background-color: #98a1ae;
        h1,
        p {
          color: black;
        }
      }
      &_25 {
        background-color: #781822;
        color: white;
      }
      &_26 {
        background-color: #f8f8a0;
        h1,
        p {
          color: black;
        }
      }
      &_27 {
        background-color: #c06b5d;
        color: white;
      }
      &_28 {
        background-color: #1e2a19;
        color: white;
      }
      &_29 {
        background-color: #dd6555;
        color: white;
      }
      &_30 {
        background-color: #4c0f05;
        color: white;
      }
      &_31 {
        background-color: #1a9e65;
        color: white;
      }
    }
  }
  .circle-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }
}
