.carousel {
  margin-top: -50px;
  @media (min-width: 678px) {
    margin: 50px auto;
  }
  @media (min-width: 800px) {
    width: 50%;
    // margin-top: auto;
  }
}
.carousel-caption {
  width: 100%;
  right: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  // bottom: -4rem !important;
  background-color: rgba(#000, 0.8);
  p {
    font-size: 18px;
    padding: 20px;
    font-size: 1rem;
  }
}
.carousel-indicators {
  bottom: -50px;
}
.carousel-item {
  img {
    margin: auto;
    height: 800px;
    object-fit: contain;
  }
}
