// Christmas Card
.book {
  height: 30rem;
  width: 18rem;
  margin-bottom: 50px;
  font-size: 1.4rem;
  box-shadow: 1rem 2rem 3rem rgba(#000, 0.25);
  text-align: center;
  position: relative;
  color: #484e4a;
  @media (min-width: 600px) {
    height: 45rem;
    width: 30rem;
  }
}

.page {
  width: 100%;
  height: 30rem;
  perspective: 1500px;
  @media (min-width: 600px) {
    height: 45rem;
  }

  &__1 {
    // Front of first page
    // background-image: url("../images/card-cover.jpg");
    background-size: cover;
    color: #fff;
    width: 100%;
    height: 100%;
    overflow: hidden; // Allows to add padding and margin to rear pseudo element
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: all 1s 0.3s;
    transform-origin: 0 50%;
    z-index: 2;

    .card-text-cover {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;

      h1 {
        margin-top: 20px;
        // position: absolute;
        // top: 10%;
        // right: 50%;
        // -webkit-text-stroke: 2px black;
        @media (min-width: 600px) {
          font-size: 4em;
        }
      }
    }

    &::after {
      // Back of first page
      content: "";
      color: #eff0eb;
      position: absolute;
      padding-top: 1.5rem;
      top: 0;
      left: 0;
      background-color: #202c1e;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      transform: rotateY(180deg);
      transition: all 0.3s 0.5s;
    }
  }

  &__2 {
    // Front of second page
    background-color: #c72609;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    position: relative;
    display: flex;
    justify-content: center;

    img {
      position: absolute;
      bottom: 0;
      left: 0;

      width: 200px;
      @media (min-width: 600px) {
        width: 350px;
      }
    }

    .card-text-wrap {
      color: white;
      width: 90%;
      padding-top: 10px;
      position: relative;

      p {
        font-size: 1.5rem;
        @media (min-width: 600px) {
          font-size: 2.7rem;
        }
      }

      h1 {
        position: absolute;
        bottom: 5%;
        right: 5%;
      }
    }
  }

  &:hover &__1 {
    transform: rotateY(-180deg);
    box-shadow: 1.5rem 2rem 3rem rgba(#000, 0.25);

    &::after {
      // Back of first page hover
      opacity: 1;
    }
  }
}
