.modal-backdrop.show {
  opacity: 0.9 !important;
}

.modal-content {
  // width: 250px;
  border: 0 !important;
  color: white;
  background-color: #781822 !important;

  .modal-header {
    flex-direction: column;
    padding: 0;
    border-bottom: 0;

    img {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      margin-bottom: 15px;
    }
  }
  .button-modal > .btn {
    padding: 0.5rem 2rem !important;
  }
}

.modal {
  width: 100vw !important;
}

// Recipe Modal
.recipe-modal {
  .modal-header {
    position: relative;
    img {
      height: 350px;
      object-fit: cover;
    }
    button {
      position: absolute;
      right: 0;
      top: 0;
      color: black;
    }
  }
}
.recipe-wrap {
  p,
  li {
    font-family: "Alegreya", serif;
  }
}
