// Mouse Scroll Down on Header
.scroll-downs {
  width: 34px;
  height: 55px;
}
.mousey {
  width: 1px;
  padding: 8px 10px;
  height: 20px;
  border: 2px solid black;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;

  @media (min-width: 600px) {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
  }
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: black;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}
