// Music
.music-container {
  position: fixed;
  left: -280px;
  z-index: 5;
  bottom: 50px;
  height: max-content;
  width: 250px;
  border-radius: 30px;
  background-color: #bb4430;
  box-shadow: 2px 5px 5px #bb4430, -1px 7px 5px #5e5946;
  transition: all 0.3s;
  @media (min-width: 600px) {
    bottom: 10px;
  }
  &.showing {
    left: 15px;
    transition: all 0.3s;
  }
}

.toggle-music {
  z-index: 6;
  position: fixed;
  background-color: #c72609;
  bottom: 300px;
  left: -72px;
  height: 60px;
  width: 60px;
  border-radius: 15px;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 10px white;
  &.showing {
    left: 0;
    transition: all 0.3s;
  }
  .open-music {
    width: 100%;
    height: 100%;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px 5px 15px;
}

.header button {
  cursor: pointer;
}

.icon {
  background: transparent;
  border: none;
  font-size: 20px;
  color: white;
}

.headerText {
  color: white;
  font-size: 45px !important;
}

.playerContaier {
  width: 100%;
  min-height: 100px;
  background-color: white;
  border-radius: 35px 35px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 0 30px 0;
  margin-top: 80px;
  border-radius: 30px;
}

.avatar,
.avatar1 {
  position: absolute;
  top: 80px;
  left: auto;
  right: auto;
  width: 100px;
  height: 100px;
  border-radius: 30px;
}

.name {
  margin-top: 27px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

.title {
  font-size: 2rem !important;
  margin-top: 0;
  margin-bottom: 5px;
  width: 100%;
  text-align: center;
}

.avatar1 {
  top: 80px;
  width: 100px;
  filter: blur(8px);
}

.controls {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.controlButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  transition: box-shadow 0.4s;
}

.controlButton:hover {
  box-shadow: 3px 3px 5px #cccccc, -3px 0px 5px #cccccc;
}

.centerButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  border: 7px solid #5e5946;
  color: #5e5946;
  transition: box-shadow 0.5s;
}

.progress {
  margin: 5px 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.currentTime > p,
.songLength > p {
  margin-bottom: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
.progressCenter {
  width: 70%;
  height: 7px;
  background-color: #d9d9d9;
  border-radius: 10px;
}

.progressCenter:hover {
  cursor: pointer;
}

.progressBar {
  width: 0px;
  height: 7px;
  border-radius: 10px;
  background-color: #63add0;
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 50px;
}
.opt {
  border: none;
  background-color: transparent;
  font-size: 25px;
  height: auto;
  width: auto;
  border-radius: 50%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.4s;
}
.opt:hover {
  cursor: pointer;
  box-shadow: 3px 3px 5px #cccccc, -3px 0px 5px #cccccc;
  color: #147cc0;
}
