.snowflake {
  overflow: hidden;
  --size: 0.8vw;
  width: var(--size);
  height: var(--size);
  background: white;
  opacity: 0.5;
  border-radius: 50%;
  position: absolute;
  top: -5vh;
  z-index: 9999999;
}

@keyframes snowfall {
  0% {
    transform: translate3d(var(--left-ini), 0, 1px);
  }
  100% {
    transform: translate3d(var(--left-end), 100vh, 0);
  }
}

@for $i from 1 through 50 {
  .snowflake:nth-child(#{$i}) {
    --size: #{random(5) * 0.2}vw;
    --left-ini: #{random(20) - 10}vw;
    --left-end: #{random(20) - 10}vw;
    left: #{random(95)}vw;
    animation: snowfall #{5 + random(10)}s linear infinite;
    animation-delay: -#{random(10)}s;
  }
}

/* added small blur every 6 snowflakes*/
.snowflake:nth-child(6n) {
  filter: blur(1px);
}
